# Byte-compiled / optimized / DLL files
__pycache__/
__pypackages__/
*.py[cod]
*$py.class
.DS_Store


# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST


# Django
*.log
/backend/static/
/backend/media/


# Environments
.env
venv/
.venv/


# Frontend
/frontend/node_modules/*
frontend/node_modules
/frontend/dist


# IDE
.vscode
.idea
